%h1 Projekte

=form_for @project do |f|

  = f.text_field :name
  = f.text_field :description
  %button#add_project.btn.button-upper neues Projekt anlegen

%table.table.table-hover
  %thead
    %tr
      %th ID
      %th Name
      %th Beschreibung
      %th Updated at
      %th Aktionen

  -@projects.each do |p|
    %tbody
      %tr
        %td= p.id
        %td= p.name
        %td= p.description
        %td= p.updated_at
        %td
          = render "partials/delete_link", :id => "delete_project", :title => "Projekt löschen", :obj => p
          = render "partials/show_link", :id => "show_project", :title => "Projekt öffnen", :obj => p


